:host {
  display: block;
  width: 100%;
  overflow-x: auto;
  transition: height 0.5s ease;
}

.crud-table {
  margin: 0;
  width: 100%;
  font-size: 1em;
  line-height: 1.35;

  &.crud-table-bordered::ng-deep {
    border-collapse: collapse;

    td, th {
      border: .05em solid;
    }

    th {
      border-bottom: .15em solid;
    }
  }
}
