<table class="crud-table crud-table-bordered crud-table-hoverable">
  <crud-table-header [dataStructure]="dataStructure"></crud-table-header>
  <crud-table-body [dataStructure]="dataStructure" [entries]="data"></crud-table-body>
  <crud-table-footer [dataStructure]="dataStructure" [entries]="data"></crud-table-footer>
</table>
