// @import "src/assets/styles/shared";

.outer-circle {
  background-color: transparent;
  border: 0.4em solid rgba(97, 82, 72, 0.9);
  opacity: .9;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
  border-radius: 10000px;
  width: 4.25em;
  height: 4.25em;
  margin: 0 auto;
  -moz-animation: spinPulse 3s infinite ease-in-out;
  -webkit-animation: spinPulse 3s infinite ease-in-out;
}

.inner-circle-reference {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;

  .inner-circle {
    background-color: transparent;
    border: 0.3em solid lightblue; // $id37-brand-color; // TODO: color
    opacity: .7;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-radius: 10000px;
    position: absolute;
    top: -3.85em;
    left: -1.727em;
    width: 3.45em;
    height: 3.45em;
    margin: 0 auto;
    -moz-animation: spinoffPulse 2s infinite linear;
    -webkit-animation: spinoffPulse 2s infinite linear;
  }
}

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    // box-shadow: 0 0 1px $id37-brand-color;
  }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    // box-shadow: 0 0 1px $id37-brand-color;
  }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotatecircle {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
