<div class="crud-row crud-nav">
  <div class="crud-col crud-col-flex-end">
    <crud-btn-wrapper>
      <crud-btn [type]="'default'" (action)="back()">
        <span style="text-decoration: underline;">L</span>ist view
      </crud-btn>
    </crud-btn-wrapper>
  </div>
</div>


TEST
