@use "variables/inputs";

:host {
  display: flex;
  flex-direction: column;
}

.datetime-dropdown-menu-ref {
  position: relative;
  width: 100%;
}

.datetime-dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 0.4rem rgba(115, 115, 115, 0.25);
  width: calc(100% - 4px);
  max-width: 28em;
  min-width: 22em;
  left: 2px;
  font-size: inputs.$id37-input-font-size;
  z-index: 9000;
}
