{{checked()}}

<div class="crud-modal">

  <div class="crud-modal-header">
    <div class="crud-modal-title">
      Delete - {{crudConfigService.config.getEntryVisualizer().apply(this, [entry])}}
    </div>
  </div>

  <div class="crud-modal-body">
    Are you sure? This operation can not be undone!
  </div>

  <div class="crud-modal-footer">
    <div class="crud-row">
      <div class="crud-col crud-col-flex-end">
        <crud-btn-wrapper>
          <crud-btn [type]="'default'" (action)="cancelClicked.emit()">Cancel</crud-btn>
          <crud-btn [type]="'danger'" (action)="deleteClicked.emit()">Delete</crud-btn>
        </crud-btn-wrapper>
      </div>
    </div>
  </div>

</div>
