:host {
  display: block;
}

.crud-color-badge {
  width: fit-content;
  border-radius: 1em;
  padding: 0.25em 0.75em;
  box-shadow: 0 2px 0.4rem hsl(0deg 0% 0% / 25%);
  font-family: monospace;
  font-size: 1.1em;
  text-transform: uppercase;

  &.dark {
    color: white;
  }

  &.bright {
    color: black;
  }
}
