<ng-container *ngIf="{
        typeDef: typeDef$ | async,
        value: value$ | async,
        mode: mode$ | async
      } as data">
  <ng-container [ngSwitch]="data.mode">

    <ng-container *ngSwitchCase="'value'">
      <ng-container *ngTemplateOutlet="value; context: {colorHexString: data.value}"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'view'">
      <ng-container *ngTemplateOutlet="value; context: {colorHexString: data.value}"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="data.mode === 'edit' || data.mode === 'create' ? data.mode : ''">
      <crud-field-label [for]="this">
        {{crudConfigService.config.getLabeled(data.typeDef.name)}}
      </crud-field-label>
      <!--suppress TypeScriptUnresolvedVariable, HtmlFormInputWithoutLabel, JSUnusedGlobalSymbols -->
      <input #input
             class="crud-input-field" type="text"
             [value]="data.value !== undefined ? data.value : ''"
             (keyup)="update($event.target.value)"
             (change)="update($event.target.value)"/>
      <ng-container *ngTemplateOutlet="value; context: {colorHexString: input.value}"></ng-container>
    </ng-container>

  </ng-container>

  <ng-template #value let-colorHexString="colorHexString">
    <!--suppress TypeScriptValidateTypes -->
    <ng-container *ngVar="color.hexToLuminance(colorHexString) as luminance">
      <div *ngIf="luminance != -1; else invalidColor"
           class="crud-color-badge"
           [ngClass]="{'dark': luminance < 0.5, 'bright': luminance >= 0.5}"
           [style.background-color]="color.asHexString(colorHexString)">
        {{colorHexString}}
      </div>
      <ng-template #invalidColor>
        <div class="crud-color-badge bright" style="background-color: white">
          invalid color
        </div>
      </ng-template>
    </ng-container>
  </ng-template>
</ng-container>
