:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  &.type-multiselect {
    height: auto;
  }
}

.multiselect-label-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.multiselect-choice-label {
  padding: 0.25em 0.75em;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.5em;
}
