<ng-container *ngTemplateOutlet="
  !selected || (type === 'multiselect' && array.isArray(selected) && selected.length === 0)
  ? hasNoSelected
  : hasSelected">
</ng-container>

<ng-template #hasNoSelected>
  <span class="crud-select-placeholder">{{translationPlaceholder}}</span>
</ng-template>

<ng-template #hasSelected>
  <ng-container *ngIf="type === 'select' && !array.isArray(selected)">
    <ng-container *ngTemplateOutlet="select"></ng-container>
  </ng-container>
  <ng-container *ngIf="type === 'multiselect' && array.isArray(selected)">
    <ng-container *ngTemplateOutlet="multiselect"></ng-container>
  </ng-container>
</ng-template>

<ng-template #select>
  <span>{{selected.label}}</span>
</ng-template>

<ng-template #multiselect>
  <div class="multiselect-label-wrapper">
    <!--suppress AngularInvalidExpressionResultType -->
    <ng-container *ngFor="let choice of selected">
        <span class="multiselect-choice-label" (click)="labelClicked($event, choice)">
          {{choice.label}}
        </span>
    </ng-container>
  </div>
</ng-template>

<span class="arrow-down"></span>
