.selections {
  display: flex;
  flex-direction: row;
  justify-content: center;

  input {
    text-align: center;
    font-size: 1em;
  }

  .hour-selection,
  .minute-selection,
  .second-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
  }

  .hour-selection {
  }

  .minute-selection {
  }

  .second-selection {
  }
}

.arrow-up {
  font-size: 3em;
  margin: 0.2em;
  border-bottom-color: grey;
}

.arrow-down {
  font-size: 3em;
  margin: 0.2em;
  border-top-color: grey;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
