<crud-select-selected
    [type]="_type"
    [disabled]="_disabled"
    [translationPlaceholder]="translationPlaceholder"
    (toggleMenu)="toggleMenu()"
    (deselect)="deselect($event)"
></crud-select-selected>

<div class="select-dropdown-menu-ref" *ngIf="menuOpen">
  <crud-select-dropdown
      [translationSearchPlaceholder]="translationSearchPlaceholder"
      (select)="select($event)"
      (deselect)="deselect($event)"
  ></crud-select-dropdown>
</div>
