@use "variables/colors";

.datetime-calendar-month {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &.center {
    justify-content: center;
  }

  .previous {
    cursor: pointer;
    margin-left: 0.5em;
    font-size: 2.5em;
  }

  .current-date {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    border: 1px solid transparent;
    border-radius: 0.5em;
    padding: 0.5em;

    &:hover {
      background-color: colors.$id37-super-light-grey;
    }
  }

  .next {
    cursor: pointer;
    margin-right: 0.5em;
    font-size: 2.5em;
  }

}

.years, .months {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em;

  .year, .month {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10em;
    width: calc(100% / 3.25);
    padding: 0.75em;
    font-weight: 200;

    &:hover {
      background-color: colors.$id37-super-light-grey;
    }

    &.is-now {
      border: 0.1em solid colors.$id37-dark-grey;
    }

    &.disabled {
      color: colors.$id37-light-grey;
    }
  }
}

.weekday-names {
  display: flex;
  justify-content: space-around;
}

.weekday-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  min-height: 3em;
  // border-bottom: 1px solid lightgrey;
  user-select: none;
  font-weight: 700;
  color: #FF5711;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.day {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: calc(100% / 7);
  min-height: 3em;
  user-select: none;
  position: relative;
  width: 50%;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em solid transparent;
    border-radius: 10em;
    margin: 0.25em;

    &.is-now {
      border: 0.1em solid colors.$id37-dark-grey;
    }
  }

  &.not-in-month {
    color: colors.$id37-light-grey-text-color;
  }

  &.selected {
    .text {
      background-color: colors.$id37-brand-color;
      color: white;
    }
  }

  &.disabled {
    .text {
      color: colors.$id37-super-light-grey;
    }
  }

  &:hover {
    .text {
      background-color: colors.$id37-super-light-grey;
    }

    &.disabled {
      .text {
        background-color: colors.$id37-light-grey;
      }
    }
  }

}

