<ng-container *ngIf="{
        typeDef: typeDef$ | async,
        value: value$ | async,
        mode: mode$ | async
      } as data">

  <ng-container *ngIf="data.mode === 'value'">
    {{data.value}}
  </ng-container>

  <ng-container *ngIf="data.mode === 'view'">
    <crud-field-label [for]="this">
      {{crudConfigService.config.getLabeled(data.typeDef.name)}}
    </crud-field-label>
    <input disabled
           class="crud-input-field" type="text"
           [value]="data.value !== undefined ? data.value : ''"
    />
  </ng-container>

  <ng-container *ngIf="data.mode === 'edit'">
    <crud-field-label [for]="this">
      {{crudConfigService.config.getLabeled(data.typeDef.name)}}
    </crud-field-label>
    <!--suppress TypeScriptUnresolvedVariable -->
    <input #input
           class="crud-input-field" type="text"
           [value]="data.value !== undefined ? data.value : ''"
           (keyup)="valueChange.emit($event.target.value)"
           (change)="valueChange.emit($event.target.value)"
    />
  </ng-container>

</ng-container>
