<div class="clause-data">

  <div>
    <label for="crud-field-name-input"
           class="crud-field-label">
      Field
    </label>
    <input id="crud-field-name-input"
           type="text"
           [(ngModel)]="clause.columnName"
           (ngModelChange)="clauseChange.emit()">
  </div>

  <div>
    <label for="crud-field-value"
           class="crud-field-label">
      Operator
    </label>
    <crud-select [choices]="opChoices" (selection)="clause.operator = $event.value; clauseChange.emit()"></crud-select>
  </div>

  <div>
    <label for="crud-field-value"
           class="crud-field-label">
      Value
    </label>
    <input id="crud-field-value"
           type="text"
           [(ngModel)]="clause.value"
           (ngModelChange)="clauseChange.emit()">
  </div>
</div>

<crud-btn [type]="'danger'">x</crud-btn>

<button>()</button>
