{{checked()}}

<div class="crud-row crud-nav">
  <div class="crud-col">
    <crud-btn-wrapper *ngIf="!loading && !!entry">
      <crud-btn [type]="'primary'" [disabled]="ongoingSave" (action)="save()">Save</crud-btn>
      <crud-btn [type]="'primary'" [disabled]="ongoingSave" (action)="saveAndReturn()">Save and return</crud-btn>
      <crud-btn [type]="'primary'" [disabled]="ongoingSave" (action)="saveAndNew()">Save and new</crud-btn>
      <crud-btn [type]="'danger'" [disabled]="ongoingSave" (action)="onDeleteClick()">Delete</crud-btn>
    </crud-btn-wrapper>
  </div>

  <div class="crud-col crud-col-flex-end">
    <crud-btn-wrapper>
      <crud-btn [type]="'default'" (action)="toListView()">
        <span style="text-decoration: underline;">L</span>ist view
      </crud-btn>
    </crud-btn-wrapper>
  </div>
</div>

<crud-alerts></crud-alerts>

<crud-fields *ngIf="!loading && !!entry" [entry]="entry" [mode]="'edit'"></crud-fields>

<crud-loading-indicator *ngIf="loading"></crud-loading-indicator>

<div *ngIf="!loading && !entry">
  Entry was not found.<br>
  Please return to list view.
</div>
