@use "sass:map";

@mixin produce($config) {

  $button: map.get($config, "component", "button");

  // A button has no margin by default.
  crud-btn {
    border: 1px solid transparent;
    padding: .5em .75em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    border-radius: .25em;
    transition: all .1s ease-in-out;

    &.small {
      padding: .35em .6em;
      font-size: .9em;
      border-radius: .2em;
    }

    &:active {
      box-shadow: 0 0 0 .2em rgba(
              map.get($button, "box-shadow-color"),
              map.get($button, "box-shadow-opacity")
      );
    }

    &:focus {
      outline: none;
    }

    // BTN-DEFAULT
    &.type-default {
      color: map.get($button, "btn-default-text-color");
      background-color: map.get($button, "btn-default-background-color");

      &:hover, &:active, &:focus {
        background-color: map.get($button, "btn-default-background-color-hover");
      }

      &:active, &:focus {
        box-shadow: 0 0 0 .2em map.get($button, "btn-default-box-shadow-color");
      }
    }

    // BTN-PRIMARY
    &.type-primary {
      color: map.get($button, "btn-primary-text-color");
      background-color: map.get($button, "btn-primary-background-color");

      &:hover, &:active, &:focus {
        background-color: map.get($button, "btn-primary-background-color-hover");
        border-color: map.get($button, "btn-primary-border-color-hover");
      }

      &:active, &:focus {
        box-shadow: 0 0 0 .2em map.get($button, "btn-primary-box-shadow-color");
      }
    }

    // BTN-SUCCESS
    &.type-success {
      color: map.get($button, "btn-success-text-color");
      background-color: map.get($button, "btn-success-background-color");

      &:hover, &:active, &:focus {
        background-color: map.get($button, "btn-success-background-color-hover");
        border-color: map.get($button, "btn-success-border-color-hover");
      }

      &:active, &:focus {
        box-shadow: 0 0 0 .2em map.get($button, "btn-success-box-shadow-color");
      }
    }

    // BTN-WARNING
    &.type-warn {
      color: map.get($button, "btn-warning-text-color");
      background-color: map.get($button, "btn-warning-background-color");

      &:hover, &:active, &:focus {
        background-color: map.get($button, "btn-warning-background-color-hover");
        border-color: map.get($button, "btn-warning-border-color-hover");
      }

      &:active, &:focus {
        box-shadow: 0 0 0 .2em map.get($button, "btn-warning-box-shadow-color");
      }
    }

    // BTN-DANGER
    &.type-danger {
      color: map.get($button, "btn-danger-text-color");
      background-color: map.get($button, "btn-danger-background-color");

      &:hover, &:active, &:focus {
        background-color: map.get($button, "btn-danger-background-color-hover");
        border-color: map.get($button, "btn-danger-border-color-hover");
      }

      &:active, &:focus {
        box-shadow: 0 0 0 .2em map.get($button, "btn-danger-box-shadow-color");
      }
    }

    // TODO: Rework?: Add to type stylings.
    &.active,
    &.active:active,
    &.active:hover {
      background: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
      );
      color: rgb(250, 250, 250);
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus,
    &.disabled:active {
      background-color: #e2e2e2;
      border-color: #e2e2e2;
      color: #9a9a9a;
      cursor: default;
    }
  }

}
