@use "sass:map";

@mixin produce($config) {

  $modal: map.get($config, "component", "modal");

  .crud-modal {
    color: map.get($modal, "color");
    background-color: map.get($modal, "background-color");
    font-size: map.get($modal, "font-size");
    padding: map.get($modal, "padding");
    max-width: 96%;
    margin: auto;

    .crud-modal-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: map.get($modal, "header-padding");

      .crud-modal-title {
        margin: 0;
        font-size: 1.3em;
        font-weight: 500;
      }
    }

    .crud-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: map.get($modal, "body-padding");
    }

    .crud-modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: map.get($modal, "footer-padding");
    }

  }

}
