<div class="crud-modal">

  <div class="crud-modal-header">
    <div class="crud-modal-title">
      Unsaved modification detected
    </div>
  </div>

  <div class="crud-modal-body" style="text-align: center;">
    It seems that you entered some data.<br>
    Do you really want to leave the current page.<br>
    Unsaved data will be lost!
  </div>

  <div class="crud-modal-footer">
    <div class="crud-row">
      <div class="crud-col crud-col-flex-end">
        <crud-btn-wrapper>
          <crud-btn [type]="'default'" (action)="cancelClicked.emit()">Cancel</crud-btn>
          <crud-btn [type]="'warn'" (action)="leaveClicked.emit()">Leave</crud-btn>
        </crud-btn-wrapper>
      </div>
    </div>
  </div>

</div>
