<ng-container *ngIf="{
        typeDef: typeDef$ | async,
        value: value$ | async,
        mode: mode$ | async
      } as data">
  <ng-container [ngSwitch]="data.mode">

    <ng-container *ngSwitchCase="'value'">
      <span *ngIf="!!selectedChoice || selectedChoice === null; else loading">
        {{!!selectedChoice ? selectedChoice.label : '-'}}
      </span>
    </ng-container>

    <ng-container *ngSwitchCase="'view'">
      <crud-field-label [for]="this">
        {{crudConfigService.config.getLabeled(data.typeDef.name)}}
      </crud-field-label>
      <crud-select *ngIf="!!choices; else loading"
                   [disabled]="true"
                   [choices]="choices"
                   (selection)="onValueChange($event)"
      ></crud-select>
    </ng-container>

    <ng-container *ngSwitchCase="data.mode === 'edit' || data.mode === 'create' ? data.mode : ''">
      <crud-field-label [for]="this">
        {{crudConfigService.config.getLabeled(data.typeDef.name)}}
      </crud-field-label>
      <crud-select #input
                   *ngIf="!!choices; else loading"
                   [choices]="choices"
                   (selection)="onValueChange($event)"
      ></crud-select>
    </ng-container>

  </ng-container>
</ng-container>

<ng-template #loading>
  loading
</ng-template>
