<ng-container *ngIf="{
        typeDef: typeDef$ | async,
        value: value$ | async,
        mode: mode$ | async
      } as data">
  <ng-container [ngSwitch]="data.mode">

    <ng-container *ngSwitchCase="'value'">
      {{data.value}}
    </ng-container>

    <ng-container *ngSwitchCase="'view'">
      <crud-field-label [for]="this">
        {{crudConfigService.config.getLabeled(data.typeDef.name)}}
      </crud-field-label>
      <textarea disabled
                class="crud-input-field"
                [value]="data.value !== undefined ? data.value : ''"
      ></textarea>
    </ng-container>

    <ng-container *ngSwitchCase="data.mode === 'edit' || data.mode === 'create' ? data.mode : ''">
      <crud-field-label [for]="this">
        {{crudConfigService.config.getLabeled(data.typeDef.name)}}
      </crud-field-label>
      <!--suppress TypeScriptUnresolvedVariable -->
      <textarea id="{{data.typeDef.name}}" #input
                class="crud-input-field"
                [value]="data.value !== undefined ? data.value : ''"
                (keyup)="valueChange.emit($event.target.value)"
                (change)="valueChange.emit($event.target.value)"
      ></textarea>
    </ng-container>

  </ng-container>
</ng-container>
