:host::ng-deep {
  // Remove the gaps between the inline-block level buttons by using flexbox.
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  height: fit-content;

  margin: 0;

  // Buttons in a group should be attached.
  crud-btn {

    margin: 0;

    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

  }
}
