@use "sass:map";

$-grey-0: #F8F8F8;
$-grey-1: #ECECEB;
$-grey-2: #DBDBDA;
$-grey-3: #8D9CA3;
$-grey-4: #5D6E77;
$-grey-5: #2E2F33;
$-grey-6: #212121;
$-std-text-bright: #f0f0f0;
$-std-text-dark: #1d1d1d;
$-default-color: #6c6c6c;
$-primary-light: #cce5ff;
$-primary-dim: #0275d8;
$-primary-bright: #007bff;
$-secondary-light: #e7e7e7;
$-secondary-dim: #f0f0f0;
$-secondary-bright: #ffffff;
$-info-light: #d1ecf1;
$-info-dim: #d9edf7;
$-info-bright: #d9edf7;
$-success-light: #d4edda;
$-success-dim: #469a46;
$-success-bright: #26ae46;
$-warning-light: #fff3cd;
$-warning-dim: #f0ad4e;
$-warning-bright: #ffc107;
$-danger-light: #f8d7da;
$-danger-dim: #d9534f;
$-danger-bright: #dc3545;

$colors: (
    grey-0: $-grey-0,
    grey-1: $-grey-1,
    grey-2: $-grey-2,
    grey-3: $-grey-3,
    grey-4: $-grey-4,
    grey-5: $-grey-5,
    grey-6: $-grey-6,
    std-text-bright: $-std-text-bright,
    std-text-dark: $-std-text-dark,
    default-color: $-default-color,
    primary-light: $-primary-light,
    primary-dim: $-primary-dim,
    primary-bright: $-primary-bright,
    secondary-light: $-secondary-light,
    secondary-dim: $-secondary-dim,
    secondary-bright: $-secondary-bright,
    info-light: $-info-light,
    info-dim: $-info-dim,
    info-bright: $-info-bright,
    success-light: $-success-light,
    success-dim: $-success-dim,
    success-bright: $-success-bright,
    warning-light: $-warning-light,
    warning-dim: $-warning-dim,
    warning-bright: $-warning-bright,
    danger-light: $-danger-light,
    danger-dim: $-danger-dim,
    danger-bright: $-danger-bright
);

$-darker-1: 5%;
$-darker-2: 7%;
$-darker-3: 10%;

$color-shifts: (
    darker-1: $-darker-1,
    darker-2: $-darker-2,
    darker-3: $-darker-3,
);

$-font-family: // Safari for OS X and iOS (San Francisco)
    -apple-system,
      // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
    system-ui,
      // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
      // Windows
    "Segoe UI",
      // Android
    "Roboto",
      // Basic web fallback
    "Helvetica Neue", Arial, sans-serif !default;

$typography: (
    font-family: $-font-family
);

$-btn-box-shadow-opacity: 0.3;
$-input-bg-color: #202020;
$-input-padding: .5rem 2em .5rem .75rem;

$components: (
    button: (
        box-shadow-color: $-primary-bright,
        box-shadow-opacity: $-btn-box-shadow-opacity,
        btn-default-text-color: $-std-text-bright,
        btn-default-text-color-hover: $-std-text-bright,
        btn-default-background-color: $-default-color,
        btn-default-background-color-hover: darken($-default-color, $-darker-1),
        btn-default-border-color: $-default-color,
        btn-default-border-color-hover: $-default-color,
        btn-default-box-shadow-color: rgba($-default-color, $-btn-box-shadow-opacity),
        btn-primary-text-color: $-std-text-bright,
        btn-primary-text-color-hover: $-std-text-bright,
        btn-primary-background-color: $-primary-dim,
        btn-primary-background-color-hover: darken($-primary-dim, $-darker-1),
        btn-primary-border-color: $-primary-dim,
        btn-primary-border-color-hover: darken($-primary-dim, $-darker-2),
        btn-primary-box-shadow-color: rgba($-primary-dim, $-btn-box-shadow-opacity),
        btn-success-text-color: $-std-text-bright,
        btn-success-text-color-hover: $-std-text-bright,
        btn-success-background-color: $-success-dim,
        btn-success-background-color-hover: darken($-success-dim, $-darker-1),
        btn-success-border-color: $-success-dim,
        btn-success-border-color-hover: darken($-success-dim, $-darker-2),
        btn-success-box-shadow-color: rgba($-success-dim, $-btn-box-shadow-opacity),
        btn-warning-text-color: $-std-text-bright,
        btn-warning-text-color-hover: $-std-text-bright,
        btn-warning-background-color: $-warning-dim,
        btn-warning-background-color-hover: darken($-warning-dim, $-darker-1),
        btn-warning-border-color: $-warning-dim,
        btn-warning-border-color-hover: darken($-warning-dim, $-darker-2),
        btn-warning-box-shadow-color: rgba($-warning-dim, $-btn-box-shadow-opacity),
        btn-danger-text-color: $-std-text-bright,
        btn-danger-text-color-hover: $-std-text-bright,
        btn-danger-background-color: $-danger-dim,
        btn-danger-background-color-hover: darken($-danger-dim, $-darker-1),
        btn-danger-border-color: $-danger-dim,
        btn-danger-border-color-hover: darken($-danger-dim, $-darker-2),
        btn-danger-box-shadow-color: rgba($-danger-dim, $-btn-box-shadow-opacity),
    ),
    table: (
        color: $-std-text-bright,
        background-color: transparent,
        background-color-on-hover: #4c4c4c,
        background-color-of-striped-rows: #3c3c3c,
        header-background-color: #272727,
        border-color: #4c4c4c,
        cell-box-shadow-on-hover: 2px 2px 10px -3px rgb(50, 50, 50),
        column-background-if-ordered: #4c4c4c,
        header-cell-padding: .7em,
        body-cell-padding: .7em
    ),
    modal: (
        color: $-std-text-bright,
        background-color: #343434,
        padding: 1.5em,
        font-size: 1em,
        header-padding: 1em,
        body-padding: 1.5em 1em,
        footer-padding: 0.75em 1em
    ),
    instance: (
        header-color: $-std-text-bright,
        header-bg-color: #1a1a1a,
        body-bg-color: #343434,
        collapsible-body-content-margin: 0.75em
    ),
    field-label: (
        color: $-std-text-bright
    ),
    input: (
        color: $-std-text-bright,
        background-color: $-input-bg-color,
        padding: $-input-padding
    ),
    select: (
        selected-color: $-std-text-bright,
        selected-background-color: $-input-bg-color,
        selected-badge-color: $-std-text-bright,
        selected-badge-background-color: #12d4e7,
        selected-placeholder-color: $-grey-4,
        focus-highlight-background-color: $-grey-4,
        dropdown-background-color: $-input-bg-color,
        dropdown-shadow: 2px 3px 18px -3px $-input-bg-color,
        search-color: $-std-text-bright,
        search-background-color: lighten($-input-bg-color, 20%),
        no-items-color: white,
        no-items-background-color: darken($-danger-light, $-darker-3),
        item-color: $-std-text-bright,
        item-background-color: $-input-bg-color,
        item-padding: $-input-padding,
        item-hover-background-color: lighten($-input-bg-color, 20%),
        item-selected-background-color: lighten($-input-bg-color, 30%)
    )
);

$config: (
    color: $colors,
    color-shift: $color-shifts,
    typography: $typography,
    component: $components,
);
