<div class="crud-row crud-nav">
  <div class="crud-col">
    <crud-btn-wrapper>
      <crud-btn [type]="'default'" (action)="edit()">
        <span style="text-decoration: underline;">E</span>dit
      </crud-btn>
    </crud-btn-wrapper>
  </div>

  <div class="crud-col crud-col-flex-end">
    <crud-btn-wrapper>
      <crud-btn [type]="'default'" (action)="back()">
        <span style="text-decoration: underline;">L</span>ist view
      </crud-btn>
    </crud-btn-wrapper>
  </div>
</div>

<crud-loading-indicator *ngIf="!entry && loading"></crud-loading-indicator>

<crud-fields *ngIf="!!entry && !loading" [entry]="entry" [mode]="'view'"></crud-fields>

<crud-alerts></crud-alerts>

<div *ngIf=" !entry && !loading">
  NO ENTRY FOUND
</div>
