{{checked()}}

<div class="crud-row crud-nav">
  <div class="crud-col">
    <crud-btn-wrapper>
      <crud-btn [type]="'success'" [icon]="faPlusCircle" (action)="add()">
        <span style="text-decoration: underline">A</span>dd
      </crud-btn>
      <crud-btn [type]="'primary'" [icon]="faRedoAlt" (action)="restore()">
        Restore
      </crud-btn>
    </crud-btn-wrapper>
  </div>

  <div class="crud-col crud-col-flex-end">
    <crud-btn-wrapper>
      <crud-btn [type]="'primary'" [icon]="faSearch" (action)="toggleFilter()">
        Filter
        <ng-container *ngIf="userFilter">
          <div *ngIf="userFilter.isNotEmpty()" style="font-size: 0.5em; font-weight: bold; margin-left: 0.3em;">
            active
          </div>
        </ng-container>
      </crud-btn>
    </crud-btn-wrapper>
  </div>
</div>

<crud-filter *ngIf="showFilter && !!dataStructure"
             [dataStructure]="dataStructure"
             [condition]="userFilter"
             (conditionChange)="triggerReload$.next()"></crud-filter>

<crud-alerts></crud-alerts>

<crud-table *ngIf="!!dataStructure && !!data"
            [dataStructure]="dataStructure"
            [data]="data"></crud-table>

<div class="crud-row crud-nav crud-nav-top-margin" *ngIf="usePagination">
  <div class="crud-col">
    <crud-pagination [entryCount]="entryCount"></crud-pagination>
  </div>
</div>
