<ng-container *ngIf="filteredChoicesGroups && filteredChoicesGroups.length > 0; else noChoices">
  <ng-container *ngFor="let choicesGroup of filteredChoicesGroups">
    <div class="choices-group">
      <div class="choices-group-label" *ngIf="!!choicesGroup.label && choicesGroup.label.length > 0">
        {{choicesGroup.label}}
      </div>
      <div class="choices-group-choices">
        <ng-container *ngFor="let choice of choicesGroup.choices">
          <div class="choice-scroll-wrapper" id="{{seed}}-{{choice.value}}">
            <crud-select-item
                [choice]="choice"
                [isPreselected]="!!_preselected && _preselected.value === choice.value"
                [translationItemSelected]="translationItemSelected"
                (select)="select.emit($event)"
                (deselect)="deselect.emit($event)">
            </crud-select-item>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #noChoices>
  <div class="no-choices">
    {{translationNoSearchResults}}
  </div>
</ng-template>
