:host {
  display: block;
  max-height: 17.5em;
  overflow: auto;
}

.choices-group {
  // TODO: Move to theme styles.
  .choices-group-label {
    font-weight: bold;
    padding: 1em 0.5em;
    border-bottom: 1px solid lightgrey;
  }
}
