<div class="crud-message">

  <div class="crud-alert crud-alert-{{alert.type}} {{alert.dismissible ? 'crud-alert-dismissible' : ''}}"
       role="alert">

    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>

    <div *ngIf="alert.heading.length !== 0" class="crud-alert-heading">
      {{alert.heading}}
    </div>

    {{alert.message}}

  </div>

</div>
