:host {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0.2em;
  background-color: lightblue;
  user-select: none;

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }

}
