<div style="padding: 1em">
  <crud-instance [instanceId]="'data'"
                 [title]="'TestInstance'"
                 [theme]="theme"
                 [config]="config"></crud-instance>
</div>

<div style="padding: 1em">
  <crud-instance [instanceId]="'relation'"
                 [title]="'RelationData'"
                 [theme]="theme"
                 [config]="relationConfig"></crud-instance>
</div>

<button (click)="theme = lightTheme">light</button>
<button (click)="theme = darkTheme">dark</button>
<button (click)="theme = colorblindTheme">colorblind</button>
<button (click)="createToast()">toast</button>
