$instance-content-margin: 0;

:host {
  position: absolute;
  // top: -$instance-content-margin;
  // left: -$instance-content-margin;
  // width: calc(100% + 2 * #{$instance-content-margin});
  // height: calc(100% + 2 * #{$instance-content-margin});
  width: 100%;
  height: 100%;
  background: rgba(92, 92, 92, 0.57);
}
