// Overwritten in themes.
$-color: #212121;
$-background-color: #F8F8F8;

:host {
  display: block;
  cursor: pointer;
  width: 100%;
  color: $-color;
  background-color: $-background-color;
  user-select: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;

  .content {
    padding: 1em;
    width: 100%;

    .title {
      margin: 0;
      font-weight: 600;
    }
  }
}
