{{checked()}}

<crud-field [entry]="entry" [typeDef]="typeDef" [mode]="'value'"></crud-field>

<ng-container *ngIf="crudConfigService.config.isInlineEditAllowed(typeDef.name)">
  <fa-icon [icon]="faEdit" class="inline-edit-trigger" (click)="openInlineEdit(entry, typeDef)"></fa-icon>
</ng-container>
