:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

crud-field {
  // width: fit-content;
  width: 100%;
}

.inline-edit-trigger {
  display: inline-flex;
  visibility: hidden;
  margin: 0.25em 0 0.25em 0.25em;
  cursor: pointer;
}
