:host {
  display: inline-block;

  &.highlightParentheses {
    .parentheses {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.parentheses {
  margin: 0.2em 0.4em;
  padding: 0.2em;
  border-radius: 0.2em;
  background-color: bisque;
}
