<span (mouseover)="highlightParentheses = true"
      (mouseout)="highlightParentheses = false"
      class="parentheses" (click)="selected.emit(condition)">(</span>

<ng-container *ngFor="let part of condition.getQuery()">
  <ng-container *ngIf="isClause(part)">
    <crud-condition-clause [clause]="part" (click)="selected.emit(part)"></crud-condition-clause>
  </ng-container>

  <ng-container *ngIf="isClauseOp(part)">
    <crud-condition-operator [operator]="part" (click)="selected.emit(part)"></crud-condition-operator>
  </ng-container>

  <ng-container *ngIf="isCondition(part)">
    <crud-condition [condition]="part" (click)="selected.emit(part)"></crud-condition>
  </ng-container>
</ng-container>

<span (mouseover)="highlightParentheses = true"
      (mouseout)="highlightParentheses = false"
      class="parentheses" (click)="selected.emit(condition)">)</span>
