.crud-column-header-main-row {
  display: flex; // TODO: necessary?
}

.crud-order-by-trigger {
  cursor: pointer;
}

.filter-trigger {
  width: 1.3em;
  height: 1.3em;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.crud-order-by-sign {
  font-size: 1em;
  font-weight: 400;
  margin-right: .3em;
}
