<thead removeWrapper class="crud-table-header">
<tr *ngIf="crudStateService.orderedBy$ | async as orderedBy">

  <th *ngFor="let colDef of dataStructure"
      [ngClass]="{'crud-column-header': true,
                  'crud-column-ordered': !!orderedBy[colDef.name],
                  'crud-order-by-trigger': isOrderByAllowed(colDef.name)}"
      (click)="orderBy($event, colDef.name)">
    <div class="crud-row">
      <div class="crud-col crud-col-flex-start crud-col-flex-top crud-column-header-main-row">
        <span *ngIf="!!orderedBy[colDef.name]" class="crud-order-by-sign">
          <ng-container *ngIf="orderedBy[colDef.name] === 'asc'">&uarr;</ng-container>
          <ng-container *ngIf="orderedBy[colDef.name] === 'desc'">&darr;</ng-container>
        </span>
        {{crudConfigService.config.getLabeled(colDef.name)}}
        <fa-icon *ngIf="isFilteredBy(colDef.name)"
                 [icon]="faFilterSolid" class="filter-trigger"
                 (click)="openFilterSettings($event, colDef.name)"></fa-icon>
        <fa-icon *ngIf="isFilterByAllowed(colDef.name) && !isFilteredBy(colDef.name)"
                 [icon]="faFilterRegular" class="filter-trigger"
                 (click)="openFilterSettings($event, colDef.name)"></fa-icon>
      </div>
    </div>
  </th>

  <th class="crud-column-header">
    Actions
  </th>

</tr>
</thead>
