<div class="crud-row crud-nav">
  <div class="crud-col">
    <crud-btn-wrapper>
      <crud-btn [type]="'primary'" (action)="save()">Save</crud-btn>
      <crud-btn [type]="'primary'" (action)="saveAndReturn()">Save and return</crud-btn>
      <crud-btn [type]="'primary'" (action)="saveAndNew()">Save and new</crud-btn>
    </crud-btn-wrapper>
  </div>

  <div class="crud-col crud-col-flex-end">
    <crud-btn-wrapper>
      <crud-btn [type]="'default'" (action)="toListView()">List view</crud-btn>
    </crud-btn-wrapper>
  </div>
</div>

<crud-alerts></crud-alerts>

<crud-fields [entry]="undefined" [mode]="'create'"></crud-fields>
