@use "sass:map";

$font-family: // Safari for OS X and iOS (San Francisco)
    -apple-system,
      // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
    system-ui,
      // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
      // Windows
    "Segoe UI",
      // Android
    "Roboto",
      // Basic web fallback
    "Helvetica Neue", Arial, sans-serif !default;

$typography: (
    font-family: $font-family
);

$colors: (
    grey-0: #F8F8F8,
    grey-1: #ECECEB,
    grey-2: #DBDBDA,
    grey-3: #8D9CA3,
    grey-4: #5D6E77,
    grey-5: #2E2F33,
    grey-6: #212121,
    std-text-bright: #f0f0f0,
    std-text-dark: #1d1d1d,
    default-color: #e2e2e2,
    primary-light: #f98aff,
    primary-dim: #bb1ce0,
    primary-bright: #d000ff,
    secondary-light: #e7e7e7,
    secondary-dim: #f0f0f0,
    secondary-bright: #ffffff,
    info-light: #d1ecf1,
    info-dim: #d9edf7,
    info-bright: #d9edf7,
    success-light: #d4edda,
    success-dim: #5cb85c,
    success-bright: #28a745,
    warning-light: #fff3cd,
    warning-dim: #f0ad4e,
    warning-bright: #ffc107,
    danger-light: #f8d7da,
    danger-dim: #d9534f,
    danger-bright: #dc3545
);

$color-shifts: (
    darker-1: 5%,
    darker-2: 7%,
    darker-3: 10%,
);

$-btn-box-shadow-opacity: 0.3;

$components: (
    button: (
        box-shadow-color: #007BFF,
        box-shadow-opacity: $-btn-box-shadow-opacity,
        btn-default-text-color: map.get($colors, "std-text-dark"),
        btn-default-text-color-hover: map.get($colors, "std-text-dark"),
        btn-default-background-color: map.get($colors, "default-color"),
        btn-default-background-color-hover: darken(map.get($colors, "default-color"), map.get($color-shifts, "darker-1")),
        btn-default-border-color: map.get($colors, "default-color"),
        btn-default-border-color-hover: map.get($colors, "default-color"),
        btn-default-box-shadow-color: rgba(map.get($colors, "default-color"), $-btn-box-shadow-opacity),
        btn-primary-text-color: map.get($colors, "std-text-bright"),
        btn-primary-text-color-hover: map.get($colors, "std-text-bright"),
        btn-primary-background-color: map.get($colors, "primary-dim"),
        btn-primary-background-color-hover: darken(map.get($colors, "primary-dim"), map.get($color-shifts, "darker-1")),
        btn-primary-border-color: map.get($colors, "primary-dim"),
        btn-primary-border-color-hover: darken(map.get($colors, "primary-dim"), map.get($color-shifts, "darker-2")),
        btn-primary-box-shadow-color: rgba(map.get($colors, "primary-dim"), $-btn-box-shadow-opacity),
        btn-success-text-color: map.get($colors, "std-text-bright"),
        btn-success-text-color-hover: map.get($colors, "std-text-bright"),
        btn-success-background-color: map.get($colors, "success-dim"),
        btn-success-background-color-hover: darken(map.get($colors, "success-dim"), map.get($color-shifts, "darker-1")),
        btn-success-border-color: map.get($colors, "success-dim"),
        btn-success-border-color-hover: darken(map.get($colors, "success-dim"), map.get($color-shifts, "darker-2")),
        btn-success-box-shadow-color: rgba(map.get($colors, "success-dim"), $-btn-box-shadow-opacity),
        btn-warning-text-color: map.get($colors, "std-text-bright"),
        btn-warning-text-color-hover: map.get($colors, "std-text-bright"),
        btn-warning-background-color: map.get($colors, "warning-dim"),
        btn-warning-background-color-hover: darken(map.get($colors, "warning-dim"), map.get($color-shifts, "darker-1")),
        btn-warning-border-color: map.get($colors, "warning-dim"),
        btn-warning-border-color-hover: darken(map.get($colors, "warning-dim"), map.get($color-shifts, "darker-2")),
        btn-warning-box-shadow-color: rgba(map.get($colors, "warning-dim"), $-btn-box-shadow-opacity),
        btn-danger-text-color: map.get($colors, "std-text-bright"),
        btn-danger-text-color-hover: map.get($colors, "std-text-bright"),
        btn-danger-background-color: map.get($colors, "danger-dim"),
        btn-danger-background-color-hover: darken(map.get($colors, "danger-dim"), map.get($color-shifts, "darker-1")),
        btn-danger-border-color: map.get($colors, "danger-dim"),
        btn-danger-border-color-hover: darken(map.get($colors, "danger-dim"), map.get($color-shifts, "darker-2")),
        btn-danger-box-shadow-color: rgba(map.get($colors, "danger-dim"), $-btn-box-shadow-opacity),
    ),
    modal: (
        padding: 1.5em,
        font-size: 1em,
        header-padding: 1em,
        body-padding: 1.5em 1em,
        footer-padding: 0.75em 1em
    ),
    instance: (
        collapsible-body-content-margin: 0.75em
    )
);

$config: (
    color: $colors,
    color-shift: $color-shifts,
    typography: $typography,
    component: $components,
);
