<ng-container *ngIf="{
        mode: mode$ | async
      } as data">
  <ng-container *ngIf="nestedInstanceConfig">
    <ng-container [ngSwitch]="data.mode">

      <ng-container *ngSwitchCase="'create'">
        <crud-field-label [for]="this">
          {{crudConfigService.config.getLabeled(nestedInstanceConfig.fieldName)}}
        </crud-field-label>
        <div>
          Nested entries can be managed after the main entry is created.
        </div>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <crud-field-label [for]="this">
          {{crudConfigService.config.getLabeled(nestedInstanceConfig.fieldName)}}
        </crud-field-label>
        <!--suppress JSUnusedGlobalSymbols -->
        <crud-instance
          #input
          [instanceId]="crudInstanceService.id + '-' + nestedInstanceConfig.fieldName"
          [config]="nestedInstanceConfig.config"
          [nestedInstanceConfig]="nestedInstanceConfig"
          [parent]="crudInstanceService.instance"
        ></crud-instance>
      </ng-container>

    </ng-container>
  </ng-container>
</ng-container>
