// @import "src/assets/styles/shared";

:host::ng-deep {
  app-collapsible-item + app-collapsible-item {
    margin-top: 1em;
  }

  &.odd-level > app-collapsible-item {
    &, & > crud-collapsible-header, & > crud-collapsible-body {
      background-color: lightgray; //$id37-grey-0; // TODO: color
    }
  }

  &.even-level > app-collapsible-item {
    &, & > crud-collapsible-header, & > crud-collapsible-body {
      background-color: white;
    }
  }

}
