{{checked()}}

<div class="crud-modal">

  <div class="crud-modal-header">
    <div class="crud-modal-title">
      Edit entry - #{{crudConfigService.config.getKeyVisualizer()
      .apply(this, [crudDataProviderService.getKey(entry)])}}
    </div>
  </div>

  <div class="crud-modal-body">
    <crud-field
        [mode]="'edit'"
        [entry]="entry"
        [typeDef]="typeDef"
        (valueChange)="value = $event">
    </crud-field>
  </div>

  <div class="crud-modal-footer">
    <div class="crud-row">
      <div class="crud-col crud-col-flex-end">
        <crud-btn-wrapper>
          <crud-btn [type]="'default'" (action)="cancel()">Cancel</crud-btn>
          <crud-btn [type]="'primary'" (action)="save()">Save</crud-btn>
        </crud-btn-wrapper>
      </div>
    </div>
  </div>

</div>
