:host {
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;

  position: relative;
  padding: .75em .75em;
}

/* Put <ng-content> into .content to avoid transition effects. */
