<!-- TODO: FIELD LAYOUT !!! -->
<ng-container *ngFor="let typeDef of dataStructure">
  <crud-field [entry]="entry"
              [typeDef]="typeDef"
              [mode]="mode"
              (valueChange)="updateInput($event, typeDef.name)">
  </crud-field>
</ng-container>

<ng-container *ngFor="let nestedInstance of nestedInstances | keyvalue">
  <crud-field [entry]="entry"
              [typeDef]="{
                type: 'nested-instance',
                name: nestedInstance.value.fieldName,
                nullable: false,
                key: false,
                autoIncrement: false,
                constraints: undefined
              }"
              [mode]="mode"> <!-- no (valueChange) necessary -->
  </crud-field>
</ng-container>
