@use "sass:map";

@mixin input-field($input) {
  display: flex;
  position: relative;
  z-index: 2;

  width: 100%;
  height: 2.75em;

  padding: map.get($input, "padding");
  margin: 0;

  color: map.get($input, "color"); //#464a4c;
  background: map.get($input, "background-color");
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none; // Reset any border previously defined!
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0;

  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &, &:focus, &:active {
    outline: none;
  }
}

@mixin produce($config) {

  $input: map.get($config, "component", "input");

  [data-input] {
    position: relative;
    z-index: 2;
    line-height: inherit;
  }

  .crud-input-field {
    @include input-field($input);
  }

  textarea.crud-input-field {
    height: auto;
    max-height: 25em;
  }

  .crud-limit {
    position: relative;
    float: right;
    right: .5em;
    top: -2.3em;
    margin-bottom: -1000px;
    color: darkgrey;
    z-index: 3;
    font-size: .9em;
  }

  .crud-form-group {
    margin-bottom: 1em;
  }

  .crud-form-label {
    padding: .4em 0;
    margin-bottom: 0;
  }

}
