@use "sass:map";

@mixin produce($config) {

  $instance: map.get($config, "component", "instance");

  crud-collapsible-header {
    font-size: 1em;
    font-weight: 400;
    color: map.get($instance, "header-color");
    background-color: map.get($instance, "header-bg-color");
  }

  crud-collapsible-body {
    background-color: map.get($instance, "body-bg-color");
  }

}
