@use "sass:map";

@mixin produce($config) {

  $table: map.get($config, "component", "table");

  $-color: map.get($table, "color");
  $-background-color: map.get($table, "background-color");
  $-background-color-on-hover: map.get($table, "background-color-on-hover");
  $-background-color-of-striped-rows: map.get($table, "background-color-of-striped-rows");
  $-header-background-color: map.get($table, "header-background-color");
  $-border-color: map.get($table, "border-color");
  $-cell-box-shadow-on-hover: map.get($table, "cell-box-shadow-on-hover");
  $-column-background-if-ordered: map.get($table, "column-background-if-ordered");
  $-header-cell-padding: map.get($table, "header-cell-padding");
  $-body-cell-padding: map.get($table, "body-cell-padding");

  .crud-table {
    color: $-color;

    thead {
      background-color: $-header-background-color;
    }

    th, td {
      &.crud-column-ordered {
        background-color: $-column-background-if-ordered;
      }
    }

    th {
      padding: $-header-cell-padding;

      &.crud-column-header {
        vertical-align: top;
        user-select: none;
      }
    }

    td {
      padding: $-body-cell-padding;
      text-align: start;
      vertical-align: top;

      &:hover {
        box-shadow: $-cell-box-shadow-on-hover;
      }
    }

    &.crud-table-bordered {
      td, th {
        border-color: $-border-color;
      }
    }

    &.crud-table-striped {
      tr:nth-child(2n) {
        background-color: $-background-color-of-striped-rows;
      }
    }

    &.crud-table-hoverable {
      tbody tr:hover {
        background-color: $-background-color-on-hover;
      }
    }
  }

  .crud-order-by-trigger {
    &:hover {
      background-color: $-column-background-if-ordered;
    }
  }

}
