<ng-container *ngIf="usePagination">
  <ng-container *ngIf="!!entriesPerPage && !!currentPageInList; else missingData">

    <div class="crud-row">

      <div class="crud-col crud-col-flex crud-col-flex-start">
        <ng-container *ngIf="mode === 'manual'; else templateEntriesPerPageOptions">
          <!--suppress TypeScriptUnresolvedVariable, HtmlFormInputWithoutLabel -->
          <input type="number" min="1" class="crud-input-field"
                 [value]="entriesPerPage"
                 (keydown)="onlyAllowNumbers($event)"
                 (keyup)="setEntriesPerPageFromString($event.target.value)"
                 (change)="setEntriesPerPageFromString($event.target.value)"
          />
        </ng-container>
        <ng-template #templateEntriesPerPageOptions>
          <crud-btn-group>
            <ng-container *ngFor="let entriesPerPageOption of entriesPerPageOptions">
              <crud-btn *ngIf="entriesPerPageOption !== -1"
                        [type]="'default'"
                        [active]="entriesPerPage === entriesPerPageOption"
                        (action)="setEntriesPerPage(entriesPerPageOption)">
                {{entriesPerPageOption}}
              </crud-btn>
              <crud-btn *ngIf="entriesPerPageOption === -1"
                        [type]="'default'"
                        [active]="entriesPerPage === -1"
                        (action)="setEntriesPerPage(-1)">
                All
              </crud-btn>
            </ng-container>
          </crud-btn-group>
        </ng-template>
        <div class="pagination-info">
          You are on page #{{currentPageInList}} of {{pageCount}}.<br>
          Currently displaying {{entriesPerPage === -1 ? 'ALL' : entriesPerPage}} entries per page out of {{entryCount}}
          total.
        </div>
      </div>

      <div class="crud-col crud-col-flex crud-col-flex-row crud-col-flex-end">
        <crud-btn-group>
          <ng-container *ngFor="let pageNumber of pageOptions">
            <crud-btn [type]="'default'"
                      [disabled]="pageNumber === -1"
                      [active]="pageNumber === currentPageInList"
                      (action)="updateCurrentPage(pageNumber)">
              {{pageNumber === -1 ? '&hellip;' : pageNumber}}
            </crud-btn>
          </ng-container>
        </crud-btn-group>
      </div>

    </div>

  </ng-container>
</ng-container>

<ng-template #missingData>
  Missing data to show pagination.
</ng-template>
