:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

fa-icon {
  font-size: 0.9em;
  margin-right: 0.3em;
}
