<ng-container *ngTemplateOutlet="visualization"></ng-container>

<!--
<span *ngIf="choice.selected === true;" class="selected">
  {{translationItemSelected}}
</span>
-->

<ng-template #visualization>
  <span>{{choice.label}}</span>
</ng-template>
