{{checked()}}

<crud-collapsible-list [type]="'expandable'">
  <crud-collapsible-item [expanded]="true" [collapsible]="crudConfigService.config.isCollapsible()"
                         (stateChange)="detectChanges()">
    <crud-collapsible-header>
      <ng-container *ngTemplateOutlet="header"></ng-container>
    </crud-collapsible-header>
    <crud-collapsible-body>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </crud-collapsible-body>
  </crud-collapsible-item>
</crud-collapsible-list>

<ng-template #header>
  <div class="crud-instance-header-wrapper">
    <div class="crud-instance-title">
      <span class="state" [class.active]="active" [class.inactive]="!active"></span>
      {{title}}
      <ng-container [ngSwitch]="view">
        <span *ngSwitchCase="views.LIST"> - LIST</span>
        <span *ngSwitchCase="views.CREATE"> - CREATE - {{crudStateService.activeEntryVisualization$ | async}}</span>
        <span *ngSwitchCase="views.EDIT"> - EDIT - {{crudStateService.activeEntryKeyVisualization$ | async}}</span>
        <span *ngSwitchCase="views.VIEW"> - VIEW - {{crudStateService.activeEntryKeyVisualization$ | async}}</span>
        <span *ngSwitchCase="views.HISTORY"> - HISTORY</span>
      </ng-container>
    </div>

    <div class="crud-instance-header-actions">
      <fa-icon [icon]="faHistory" (click)="showHistory($event)"></fa-icon>
      <fa-icon *ngIf="!fullscreen" [icon]="faWindowMaximize" (click)="toggleFullscreen($event)"></fa-icon>
      <fa-icon *ngIf="fullscreen" [icon]="faWindowMinimize" (click)="toggleFullscreen($event)"></fa-icon>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <ng-container *ngIf="!licensed">
    <crud-not-licensed-warning></crud-not-licensed-warning>
  </ng-container>

  <ng-container [ngSwitch]="view">
    <crud-list *ngSwitchCase="views.LIST"></crud-list>
    <crud-create *ngSwitchCase="views.CREATE"></crud-create>
    <crud-edit *ngSwitchCase="views.EDIT"></crud-edit>
    <crud-view *ngSwitchCase="views.VIEW"></crud-view>
    <crud-history *ngSwitchCase="views.HISTORY"></crud-history>
    <div *ngSwitchDefault>
      ERROR: Unknown view. Please configure CrudInstanceComponent.
    </div>
  </ng-container>

  <crud-modal></crud-modal>
</ng-template>
