<tbody removeWrapper>
<ng-container *ngIf="entries.length === 0">
  <tr>
    <td [colSpan]="dataStructure.length + 1">
      NOTHING HERE
    </td>
  </tr>
</ng-container>

<ng-container *ngIf="entries.length !== 0">
  <tr *ngFor="let entry of entries" [ngClass]="{'recently-updated': wasRecentlyUpdated(entry)}">
    <td *ngFor="let typeDef of dataStructure">
      <crud-table-cell [entry]="entry" [typeDef]="typeDef"></crud-table-cell>
    </td>
    <td style="width: 1%; white-space: nowrap;">
      <fa-icon [icon]="faEye" class="action-icon"
               (click)="onViewClick(entry)"></fa-icon>
      <fa-icon [icon]="faPencil" class="action-icon"
               (click)="onEditClick(entry)"></fa-icon>
      <fa-icon [icon]="faTrash" class="action-icon"
               (click)="onDeleteClick(entry)"></fa-icon>

      <!--
      <div class="crud-btn-wrapper crud-btn-group">
        <button class="crud-btn crud-btn-sm crud-btn-primary" (click)="onViewClick(crudDataProviderService.getKey(entry))">
          View <fa-icon [icon]="faEye"></fa-icon>
        </button>
        <button class="crud-btn crud-btn-sm crud-btn-warning" (click)="onEditClick(crudDataProviderService.getKey(entry))">
          Edit <fa-icon [icon]="faPencil"></fa-icon>
        </button>
        <button  class="crud-btn crud-btn-sm crud-btn-danger" (click)="onDeleteClick(crudDataProviderService.getKey(entry))">
          Delete <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      -->
    </td>
  </tr>
</ng-container>
</tbody>
