.action-icon {
  font-size: 1.2em;
  margin: 0.25em;
  cursor: pointer;
}

tr {
  transition: background-color 0.25s;
}

tr.recently-updated {
  transition: background-color 0.5s;
  background-color: #4181aa;
}

td:hover {
  crud-table-cell::ng-deep {
    .inline-edit-trigger {
      visibility: visible;
    }
  }
}
