<div class="select-dropdown-menu">
  <!--suppress HtmlFormInputWithoutLabel -->
  <input #searchInput
         class="crud-select-search"
         type="text"
         placeholder="{{translationSearchPlaceholder}}"
         [ngModel]="searchString"
         (ngModelChange)="updateSearchString($event)">

  <crud-select-menu
      [filter]="searchString"
      [preselected]="preselected"
      (select)="select.emit($event)"
      (deselect)="deselect.emit($event)">
  </crud-select-menu>
</div>
