:host::ng-deep {
  // Remove the gaps between the inline-block level buttons by using flexbox.
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: fit-content;

  // Compensate outer button margins.
  margin: -.125em;

  crud-btn {
    // Buttons should not stretch their height to fill the flexbox container.
    height: fit-content;

    // Button margin when in a group.
    margin: 0.125em;
  }
}
