{{checked()}}

<ng-container *ngIf="!!condition">
  <crud-condition [condition]="condition" (selected)="select($event)"></crud-condition>

  <crud-btn [type]="'success'" (action)="create()">+</crud-btn>
</ng-container>

<ng-container *ngIf="createMode">
  CREATE
</ng-container>

<ng-container *ngIf="isConditionOp(selected)">
  <crud-condition-operator-editor [op]="$any(selected)"
                                  (opChange)="condition.promoteChanges()"></crud-condition-operator-editor>
</ng-container>

<ng-container *ngIf="isClause(selected) as CrudFilterClause">
  <crud-condition-clause-editor [clause]="selected"
                                (clauseChange)="condition.promoteChanges()"></crud-condition-clause-editor>
</ng-container>
